body{
    background-color:rgb(96, 93, 92)
}

.search-container{
    width:40%;
    margin: 60px auto;
    text-align: center;
}
.form-control{
    width:80%!important;
    display:inline-block!important;
}

.nav{
    top:8px;
    right:15px;
    position:absolute;
}
.description{
    text-align: center;
    color:white;
}
.results-container ul{
    margin-top: 40px;
}
ul{
    margin:10px;
   list-style: none;  
   padding:0;
}
.results-list{
    display:flex;
    width:1000px;
    margin: 10px auto;
    text-align: left;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    align-items:center;
    background-color:rgb(251, 248, 247);
}

.showUsers{
    width: 125px;
    display:none;
    position: fixed;
    color:white;
    z-index:100;
    background-color:rgba(64, 65, 60,.9);
    border-radius: 10px;
}
.showUsers li {
    text-align: center;
}

img{
    height:100px;
}

.address,
.rating,
.info{
    flex: 3;
    text-align:center;
}
.checked {
    color: orange;
}
.star {
    font-size: x-large;
    width: 25px;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content: '\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content: '\2605';
    color: gold;
    margin-left: -20px;
    width: 10px;
    position: absolute;
    overflow: hidden;
}
h3{
    margin-top:0;
}
.going{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:red;
}
.rsvp{
        width:40px;
    height:40px;
    border-radius:50%;
    background-color:green;
}
.currentGoing{
    padding:15px;
    margin:0;
}
.currentGoing:hover{
    cursor:pointer;
}
.userList{
    margin-top:10px;
    border: 2px solid white;
}